<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>お問い合わせ|TanaShin</title>
    <script src="https://kit.fontawesome.com/3c982ecd98.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
    <div th:replace="common/header :: headerFlagment"></div>
    <!-- ↑↑これより上は各ページ共通なので変更しない↑↑ -->
    <main>
        <!-- <main>タグ内を各ページに合わせて変更 -->
        <div class="container contact-width mt-5 rounded d-flex justify-content-center" style="background-color: #F4F3EF;">
            <div class="col-9">
                <h6 class="pt-4 fw-bold d-flex justify-content-center">お問い合わせはこちらから。</h6>
                <hr />
                <form id="contact-form" th:action="@{/contact}"  method="post">
                    <dl class="mt-4 px-3">
                        <dt><label class="fw-normal" for="name">お名前<span class="text-danger"> *</span></label></dt>
                        <dd><input class="col-12 mt-2 py-1 px-2" type="text" th:name="name" placeholder="(例) 田中 太郎" /></dd>
                        <dt><label class="fw-normal" for="phoneNumber">電話番号</label></dt>
                        <dd><input class="col-12 mt-2 py-1 px-2" type="text" th:name="phoneNumber" placeholder="(例) 080-○○○○-△△△△" /></dd>
                        <dt><label class="fw-normal" for="email">メールアドレス<span class="text-danger"> *</span></label></dt>
                        <dd><input class="col-12 mt-2 py-1 px-2" type="text" th:name="email" placeholder="(例) sample@example.com" /></dd>
                        <dt><label class="fw-normal" for="subject">件名<span class="text-danger"> *</span></label></dt>
                        <dd><input class="col-12 mt-2 py-1 px-2" type="text" th:name="subject" /></dd>
                        <dt><label class="fw-normal" for="content">お問い合わせ内容<span class="text-danger"> *</span></label></dt>
                        <dd><textarea class="col-12 mt-2 py-1 px-2" name="content" cols="30" rows="5"></textarea></dd>
                    </dl>
                    <div class="d-flex justify-content-center">
                        <button class="col-5 text-white bg-black fw-bold rounded py-3 px-2 mt-3 my-5" type="submit" id="contact-button">確認する</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- ↓↓これより下は各ページ共通なので変更しない↓↓ -->
    <div th:replace="common/footer :: footerFlagment"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/function.js"></script>
</body>
</html>