<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>お問い合わせ|TanaShin</title>
    <script src="https://kit.fontawesome.com/3c982ecd98.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <header id="header"></header>

<!-- ↑↑これより上は各ページ共通なので変更しない↑↑ -->

    <main>
        <!-- <main>タグ内を各ページに合わせて変更 -->
        <h1 class="fw-bold">お問い合わせはこちらから。</h1>

        <form id="contact-form" th:action="@{/contact}"  method="post">
            <div>
                <label>お名前：</label>
                <input type="text" th:name="name" />
            </div>
            <div>
                <label>電話番号：</label>
                <input type="text" th:name="phoneNumber" />
            </div>
            <div>
                <label>メールアドレス：</label>
                <input type="email" th:name="email" />
            </div>
            <div>
                <label>件名：</label>
                <input type="text" th:name="subject" />
            </div>
            <div>
                <label>お問い合わせ内容：</label>
                <input type="text" th:name="content" />
            </div>
            <button type="submit" id="submit-button">送信</button>
        </form>


    </main>

<!-- ↓↓これより下は各ページ共通なので変更しない↓↓ -->

    <footer id="footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/function.js"></script>
</body>
</html>