<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>お問い合わせ|TanaShin</title>
    <script src="https://kit.fontawesome.com/3c982ecd98.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <header id="header"></header>

<!-- ↑↑これより上は各ページ共通なので変更しない↑↑ -->

    <main>
        <!-- <main>タグ内を各ページに合わせて変更 -->
        <h1 class="fw-bold">お問い合わせはこちらから。</h1>

    </main>

<!-- ↓↓これより下は各ページ共通なので変更しない↓↓ -->

    <footer id="footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/function.js"></script>
</body>
</html>