<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tanashin</title>
    <script src="https://kit.fontawesome.com/3c982ecd98.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<!-- ↑↑これより上は各ページ共通なので変更しない↑↑ -->
    <main>
        <!-- <main>タグ内を各ページに合わせて変更 -->
        <div class="d-flex justify-content-end" sec:authorize="hasAuthority('ADMIN')">
            <div class="me-1">
                <button onclick="window.location.href='/logout'">ログアウト</button>
                <a href="/admin/post-work">作品販売をする</a>
                <a href="/admin/check-orders">購入情報</a>
            </div>
        </div>
        <h1 class="fw-bold">田中辰太朗のサイトを構築しましょう。</h1>
        <div class="fs-3">久保川、土方が開発します。</div>
    </main>
<!-- ↓↓これより下は各ページ共通なので変更しない↓↓ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/function.js"></script>
</body>
</html>