<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Tanashin</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header id="header"></header>

<!-- ↑↑これより上は各ページ共通なので変更しない↑↑ -->

    <main>
        <!-- <main>タグ内を各ページに合わせて変更 -->
        <h1 class="fw-bold">田中辰太朗のサイトを構築しましょう。</h1>
        <div class="fs-3">久保川、土方が開発します。</div>
        <a th:href="@{/about}">about</a>
        <a th:href="@{/contact}">contact</a>
    </main>

<!-- ↓↓これより下は各ページ共通なので変更しない↓↓ -->

    <footer id="footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/function.js"></script>
</body>
</html>