/* インスタのロゴを作成 */
.insta_btn {
    display: inline-block;
    text-align: center;/*中央揃え*/
    color: #2e6ca5;/*文字色*/
    font-size: 10px;/*文字サイズ*/
    text-decoration: none;/*下線消す*/
}
  
.insta_btn:hover {/*ホバー時*/
    color:#668ad8;/*文字色*/
    transition: .5s;/*ゆっくり変化*/
}
  
.insta_btn .insta{/*アイコンの背景*/
    position: relative;/*相対配置*/
    display: inline-block;
    width: 25px;/*幅*/
    height: 25px;/*高さ*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;/*はみ出た部分を隠す*/
    border-radius: 6px;/*角丸に*/
  
}
  
.insta_btn .insta:before{/*グラデーションを重ねるため*/
    content: '';
    position: absolute;/*絶対配置*/
    top: 11px;/*ずらす*/
    left: -9px;/*ずらす*/
    width: 30px;/*グラデーションカバーの幅*/
    height: 30px;/*グラデーションカバーの高さ*/
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}
  
.insta_btn .fa-instagram {/*アイコン*/
    color: #FFF;/*白に*/
    position: relative;/*z-indexを使うため*/
    z-index: 2;/*グラデーションより前に*/
    font-size: 17px;/*アイコンサイズ*/
    line-height: 25px;/*高さと合わせる*/
}

/* navbarで{main}タグの上部分が隠れてしまうので50px分ずらす */
body {
    padding-top: 50px;
    padding-right: 0.5rem;
}

/* navbar内のプライバシーポリシー/特定商取引法に基づく表記について */
/* デフォルトの文字色を灰色、ホバーすると文字色を黒色に変更 */
.nav-rules {
    font-size: small;
    color: rgba(0, 0, 0, 0.65);
}

.nav-rules:hover {
    color: rgba(0, 0, 0, 0.8);
}

.cart-container {
    padding-right: 1.5em;
    position: relative;
}

@media (min-width: 768px) {
    .nav-rules-container {
        display: none;
    }
    .nav-container-margin {
        margin-right: 0px;
    }
    .work-width {
        max-width: 1200px;
    }
    .work-image {
        max-height: 250px;
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
  }

@media (max-width: 768px) {
    .nav-rules-container-lg {
        display: none;
    }
    .nav-container-margin {
        margin-left: 0px;
    }
    .work-image {
        max-height: 150px;
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
}

table {
    text-align: center;
}

table,
table th,
table td {
    border: 1px solid black;
}

table th,
table td {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.ordered-image {
    opacity: 0.5;
}

.ordered {
    position: absolute;/*重ねたい子要素にabsolute*/
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);/*センター寄せの修正*/
}

.cart-number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(255, 100, 100);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
