<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tanashin</title>
    <script src="https://kit.fontawesome.com/3c982ecd98.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<!-- ↑↑これより上は各ページ共通なので変更しない↑↑ -->
    <main>
        <!-- <main>タグ内を各ページに合わせて変更 -->
        <div>
            <h1>作品販売画面です。</h1>
        </div>
        <form th:object="${work}" th:action="@{/admin/post-work/addNew}" method="post" enctype="multipart/form-data" sec:authorize="hasAuthority('ADMIN')">
            <div>
                <label>作品名</label>
                <div>
                    <input type="text" th:field="*{name}" />
                </div>
                <label>作品説明</label>
                <div>
                    <textarea type="text" cols="30" rows="5" th:field="*{description}"></textarea>
                </div>
                <label>縦の長さ(mm)</label>
                <div>
                    <input type="text" th:field="*{verticalSize}" />
                </div>
                <label>横の長さ(mm)</label>
                <div>
                    <input type="text" th:field="*{horizontalSize}" />
                </div>
                <label>値段</label>
                <div>
                    <input type="text" th:field="*{price}" />
                </div>
                <div class="parent" th:each="images, iterStat : *{images}">
                    <div id="image-repeat">
                        <div class='row'>
                            <div class='col-md-4 pr-1'>
                                <!-- <input
                                    type="text"
                                    th:field="*{images[__${iterStat.index}__].id}"
                                    hidden
                                />
                                <input 
                                    placeholder="イメージ画像"
                                    type="text" 
                                    th:field="*{images[__${iterStat.index}__].name}"
                                /> -->
                                <input 
                                    type="file" 
                                    placeholder="イメージ画像"
                                    name="imagesFile"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters" sec:authorize="hasAuthority('ADMIN')">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="text-left mt-2">
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    id="addImage"
                            >
                                イメージを追加する
                            </button>
                        </div>
                    </div>
                </div>

                <!-- <div>
                    <div class="col-md-5 me-5">
                        <label class="heading_font font_sub_heading_color">イメージ画像①</label>
                        <input
                                type="file"
                                name="image1"
                                accept="image/png, image/jpeg"
                        />
                    </div>
                    <div class="col-md-5 me-5">
                        <label class="heading_font font_sub_heading_color">イメージ画像②</label>
                        <input
                                type="file"
                                name="image2"
                                accept="image/png, image/jpeg"
                        />
                    </div>
                </div> -->

            </div>
            <div class="mt-2">
                <button type="submit">販売</button>
            </div>
        </form>

    </main>
<!-- ↓↓これより下は各ページ共通なので変更しない↓↓ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/function.js"></script>
    <script>
     var counter = 0;
     $(document).on("click", "#addImage", function (e) {
       e.preventDefault();
       counter++;
        var newRow = jQuery(
                   "<div id='image-repeat'>"+
                   "  <div class='row'>"+
                   "    <div class='col-md-4 pr-1'>"+
                //    "      <input"+
                //    "        hidden"+
                //    "        type='text'"+
                //    "        name='images["+counter+"].id'"+
                //    "      />"+
                //    "      <input"+
                //    "        type='text'"+
                //    "        placeholder='イメージ画像'"+
                //    "        name='images["+counter+"].name'"+
                //    "      />"+
                   "      <input"+
                   "        type='file'"+
                   "        placeholder='イメージ画像'"+
                   "        name='imagesFile'"+
                   "      />"+                   
                   "    </div>"+
                   "  </div>"+
                   "</div>");
        console.log(newRow);
       $('#image-repeat')
         .parent('div.parent')
         .append(newRow);

     });
    </script>
</body>
</html>